.slider {
    width: 300px;
    height: 200px;
    overflow: hidden;
    /* 背景色を設定してください。 */
    background-color:red ;
}

.slider-item {
    width: 300px;
    float: left;
}

.slider-inner {
    width: 300%;
    /* スライドショーの速さを設定してください。 1s = 1秒、5s = 5秒*/
    animation: slider 10s infinite ease;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0);
    }
}