@import url('https://fonts.googleapis.com/css?family=Merienda');

svg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

body {
    font-family: 'Merienda', cursive;
    background-color: yellow; /* 全体の背景色指定 */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 500px;
    background: gray; /* チームの内容を表示しているエリアの背景色指定 */
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    position: absolute;
    z-index: 1;
}